# CakePHP 3

/vendor/*
/config/app.php

/tool/tmp/cache/models/*
!/tool/tmp/cache/models/empty
/tool/tmp/cache/persistent/*
!/tool/tmp/cache/persistent/empty
/tool/tmp/cache/views/*
!/tool/tmp/cache/views/empty
/tool/tmp/sessions/*
!/tool/tmp/sessions/empty
/tool/tmp/tests/*
!/tool/tmp/tests/empty

/tool/logs/*
!/tool/logs/empty

# CakePHP 2

/tool/app/tmp/*
/tool/app/Config/core.php
/tool/app/Config/database.php
/tool/vendors/*

# Apache 
error.log
request.log
*.log
